<div class="container">
	<div class="jumbotron">
			<h2>Who is Alek?<h2>
				<p><small>Good question! I am a motivated guy that enjoys solving problems in creative ways. I really love to learn and I really enjoy getting to know new people (seriously!). I am intuitive and love to think and learn about human behavior.
				</small></p>
	</div>
	<div class="panel panel-default">
  	<div class="panel-body">
  		<h2>Why Development?</h2>
    	<p class-"lead">Good</p>
  	</div>
	</div>
	<div class="panel panel-default">
  	<div class="panel-body">
  		<h2>Work</h2>
    	<p class-"lead">I've worked as a Marketing Manager at 3 start-ups, two of which I co-founded. </p>
    	<div class="media">
			  <a class="pull-left" href="#">
			    <img class="media-object" src="http://simpletexting.com/wp-content/themes/simpletexting-2.1/images/app-iphone.png" height=150px width=180px alt="SimpleTexting app">
			  </a>
			  <div class="media-body">
			    <h4 class="media-heading"><a href=http://simpletexting.com>SimpleTexting.com</h4></a>
			    <p>SimpleTexting is a text message marketing web app for small businesses and organizations. I served as co-product manager and marketing lead.</p>
  </div>
</div>
  	</div>
	</div>
	<div class="panel panel-default">
  	<div class="panel-body">
  		<h2>Education</h2>
    	<p class-"lead">Good</p>
    	<table class="table" id="books_list">
    		<tr>
    			<td><strong>Baruch College</strong></td><td><strong>BBA</strong></td><td>2004</td>
    		</tr>
    		<tr>
    			<td><strong>NYU SCPS</strong></td><td>Database Design and Development</td><td>2013</td>
    		</tr>
    		<tr>
    			<td><strong>NYU SCPS</strong></td><td>Project Management for Information Systems</td><td>2013</td>
    		</tr>
    		<tr>
    			<td><strong>Landmark Education</strong></td><td></td><td></td>
    		</tr>
    		<tr>
    			<td>Malcom Gladwell</td><td>Robert Greene</td><td>Steve Blank</td>
    		</tr>
    		<tr>
    			<td>Seth Godin</td><td>Chip and Dan Heath</td><td>Michael Lewis</td>
    		</tr>
    		<tr>
    			<td><em>Awareness</em> by Anthony DeMelo</td><td><em>How to Win Friends and Influence People</em></td><td><em>Good to Great<em/></td>
    		<tr>
    			<td><em>Blue Ocean Strategy</em></td><td><em>Lean Start-up</em></td><td><em>The Start-up of You<em></td>
    		</tr>
    		<tr>
    			<td><em>Influence</em></td><td><em>Switch</em></td><td><em>Fault Lines</em></td>
    		</tr>
				<tr>
    			<td><em>Lean Start-up</em></td><td><em>The Start-up of You</em></td>
    		<td><em>Power of Habit</em></td>
    		</tr>
    		<tr>
    			<td><em>Harvard Business Review</em></td><td><em>SEO Moz</em></td><td><em>AdExchanger</em></td><td></td>
    		</tr>
    		
    		
			</table>
  	</div>
	</div>
	<div class="panel panel-default">
  	<div class="panel-body">
  		<h2>Hobbies</h2>
    	<h4>Snowboarding, Cycling, Yoga, Investing, Business, Networking</h4><p class-"lead">Good</p>
    	<table>
    		<tr>
    			<td>
          	<div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <%= image_tag("snowboard.jpg", alt: "snowboard") %>      
                  </a>
                </div>
        </div>
    			<td>
			  		<div class="row">
			  			<div class="col-xs-6 col-md-3">
			    			<a href="#" class="thumbnail">
			     				 <img data-src="/assets/snowboard.jpg" alt="snowboard image">
			    			</a>
          <td>
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img data-src="holder.js/100%x180" alt="...">
                </a>
            </div>
  ...
</div>

	    		</td>
				</div>
  		</div>
  	</div>
	</div>
</div>